{% extends 'squares/layout.html' %}

{% block title %} Home Page {% endblock %}


{% block body %}

    {% load crispy_forms_tags %}

    {% if error_message %}
        {{ error_message }}
    {% endif %}

    {% if messages %}
        <div class="alert alert-success alert-dismissible fade show w-25 mx-auto" role="alert">
            <strong>{{ messages }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

        <div class="row">
            <div class="col-sm pad-left">
                <table class="table table-borderless pool-table">
                    <thead>
                        <tr>
                            <th colspan="12" class="text-white bg-dark">Winning Team</th>
                        </tr>
                        <tr>
                            <th class="bg-dark"></th>
                            <th class="green"></th>
                            {% for number in win_nums %}
                            <th class="green">{{ number }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th rowspan="11" class="text-white bg-dark"><span>Losing Team</span></th>
                        </tr>
                        {% for item in los_num_plus_pool %}
                        <tr>
                            <th class="yellow">{{ item.0 }}</th>
                            <td class="col1">{{ item.1.0 }}</td>
                            <td class="col2">{{ item.1.1 }}</td>
                            <td class="col3">{{ item.1.2 }}</td>
                            <td class="col4">{{ item.1.3 }}</td>
                            <td class="col5">{{ item.1.4 }}</td>
                            <td class="col6">{{ item.1.5 }}</td>
                            <td class="col7">{{ item.1.6 }}</td>
                            <td class="col8">{{ item.1.7 }}</td>
                            <td class="col9">{{ item.1.8 }}</td>
                            <td class="col10">{{ item.1.9 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-sm pad-right">
                {% if request.user.is_authenticated %}
                    <div class="container">
                        <form action="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-3">
                                    <b>Select Round</b>
                                    {{ form.round_number|as_crispy_field }}
                                </div>
                                <div class="col-3">
                                    <b>Select Winner</b>
                                    {{ form.winner|as_crispy_field }}
                                </div>
                                <div class="col">
                                    <br>
                                    <button class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>    
                    </div>
                    <br>
                {% endif %}
                <div class="container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <button class="nav-link active" id="nav-R1-tab" data-bs-toggle="tab" data-bs-target="#nav-R1" type="button" role="tab" aria-controls="nav-R1" aria-selected="true">First Round</button>
                          <button class="nav-link" id="nav-R2-tab" data-bs-toggle="tab" data-bs-target="#nav-R2" type="button" role="tab" aria-controls="nav-R2" aria-selected="false">Second Round</button>
                          <button class="nav-link" id="nav-R3-tab" data-bs-toggle="tab" data-bs-target="#nav-R3" type="button" role="tab" aria-controls="nav-R3" aria-selected="false">Sweet 16</button>
                          <button class="nav-link" id="nav-R4-tab" data-bs-toggle="tab" data-bs-target="#nav-R4" type="button" role="tab" aria-controls="nav-R4" aria-selected="false">Elite Eight</button>
                          <button class="nav-link" id="nav-R5-tab" data-bs-toggle="tab" data-bs-target="#nav-R5" type="button" role="tab" aria-controls="nav-R5" aria-selected="false">Final Four</button>
                          <button class="nav-link" id="nav-R6-tab" data-bs-toggle="tab" data-bs-target="#nav-R6" type="button" role="tab" aria-controls="nav-R6" aria-selected="false">Championship</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-R1" role="tabpanel" aria-labelledby="nav-R1-tab">
                            <table class="table table-striped scores-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Players</th>
                                        <th scope="col"># of Game Won</th>
                                        <th scope="col">Round Amount Won</th>
                                        <th scope="col">Tournament Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in player_scores %}
                                        <tr>
                                            <th scope="row">{{ player.0 }}</th>
                                            <td id="R1-games-won-{{ forloop.counter }}">{{ player.1 }}</td>
                                            <td id="R1-amount-won-{{ forloop.counter }}"></td>
                                            <td class="total-{{ forloop.counter }}"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>    
                        </div>
                        <div class="tab-pane fade" id="nav-R2" role="tabpanel" aria-labelledby="nav-R2-tab">
                            <table class="table table-striped scores-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Players</th>
                                        <th scope="col"># of Game Won</th>
                                        <th scope="col">Round Amount Won</th>
                                        <th scope="col">Tournament Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in player_scores %}
                                        <tr>
                                            <th scope="row">{{ player.0 }}</th>
                                            <td id="R2-games-won-{{ forloop.counter }}">{{ player.2 }}</td>
                                            <td id="R2-amount-won-{{ forloop.counter }}"></td>
                                            <td class="total-{{ forloop.counter }}"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>    
                        </div>
                        <div class="tab-pane fade" id="nav-R3" role="tabpanel" aria-labelledby="nav-R3-tab">
                            <table class="table table-striped scores-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Players</th>
                                        <th scope="col"># of Game Won</th>
                                        <th scope="col">Round Amount Won</th>
                                        <th scope="col">Tournament Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in player_scores %}
                                        <tr>
                                            <th scope="row">{{ player.0 }}</th>
                                            <td id="R3-games-won-{{ forloop.counter }}">{{ player.3 }}</td>
                                            <td id="R3-amount-won-{{ forloop.counter }}"></td>
                                            <td class="total-{{ forloop.counter }}"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>    
                        </div>
                        <div class="tab-pane fade" id="nav-R4" role="tabpanel" aria-labelledby="nav-R4-tab">
                            <table class="table table-striped scores-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Players</th>
                                        <th scope="col"># of Game Won</th>
                                        <th scope="col">Round Amount Won</th>
                                        <th scope="col">Tournament Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in player_scores %}
                                        <tr>
                                            <th scope="row">{{ player.0 }}</th>
                                            <td id="R4-games-won-{{ forloop.counter }}">{{ player.4 }}</td>
                                            <td id="R4-amount-won-{{ forloop.counter }}"></td>
                                            <td class="total-{{ forloop.counter }}"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>    
                        </div>
                        <div class="tab-pane fade" id="nav-R5" role="tabpanel" aria-labelledby="nav-R5-tab">
                            <table class="table table-striped scores-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Players</th>
                                        <th scope="col"># of Game Won</th>
                                        <th scope="col">Round Amount Won</th>
                                        <th scope="col">Tournament Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in player_scores %}
                                        <tr>
                                            <th scope="row">{{ player.0 }}</th>
                                            <td id="R5-games-won-{{ forloop.counter }}">{{ player.5 }}</td>
                                            <td id="R5-amount-won-{{ forloop.counter }}"></td>
                                            <td class="total-{{ forloop.counter }}"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>    
                        </div>
                        <div class="tab-pane fade" id="nav-R6" role="tabpanel" aria-labelledby="nav-R6-tab">
                            <table class="table table-striped scores-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Players</th>
                                        <th scope="col"># of Game Won</th>
                                        <th scope="col">Round Amount Won</th>
                                        <th scope="col">Tournament Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in player_scores %}
                                        <tr>
                                            <th scope="row">{{ player.0 }}</th>
                                            <td id="R6-games-won-{{ forloop.counter }}">{{ player.6 }}</td>
                                            <td id="R6-amount-won-{{ forloop.counter }}"></td>
                                            <td class="total-{{ forloop.counter }}"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


        <div>
            <p hidden id="R1Worth">{{ round_amounts.0.0 }}</p>
            <p hidden id="R2Worth">{{ round_amounts.0.1 }}</p>
            <p hidden id="R3Worth">{{ round_amounts.0.2 }}</p>
            <p hidden id="R4Worth">{{ round_amounts.0.3 }}</p>
            <p hidden id="R5Worth">{{ round_amounts.0.4 }}</p>
            <p hidden id="R6Worth">{{ round_amounts.0.5 }}</p>
        </div>

{% endblock %}