{% extends 'squares/layout.html' %}

{% block title %} Login {% endblock %}

{% block body %}

    {% load crispy_forms_tags %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show w-25 mx-auto" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}


    <div class="col-md-6 offset-md-3">
        <h4 class="padding">Login for admin access.</h4>

        <form method='POST'>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-secondary" style="margin-right: 130px;">
        </form>
    </div>


{% endblock %}