{% for message in messages %}
    <div class="col-lg-5 col-md-12 m-auto">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
{% endfor %}


<!--
    
{% if message %}
<div class="col-lg-7 col-md-12 m-auto">
    <div class="alert alert-danger shadow" role="alert">
        {{ message }}
    </div>
</div>
{% endif %}

-->