{% extends 'squares/layout.html' %}

{% block title %} Register {% endblock %}

{% block body %}

    {% load crispy_forms_tags %}

    <div class="col-md-6 offset-md-3">
        <h4 class="padding">Register to join the 2021 March Madness Squares Pool!</h4>

        <form method='POST'>
            {% csrf_token %}
            <div class="form-divide">{{ form.username|as_crispy_field }}</div>
            <div class="form-divide">{{ form.password1|as_crispy_field }}</div>
            <div class="form-divide-extra">{{ form.password2|as_crispy_field }}</div>
            <input type="submit" class="btn btn-secondary" style="margin-right: 130px;">
        </form>
    </div>



{% endblock %}