.pool-table th, .pool-table td, .scores-table th, .scores-table td {
    text-align: center;
    vertical-align: middle;
}

span {
    writing-mode:vertical-rl;
    transform: rotate(180deg);
}

.green {
    background-color: green !important;
    color: white !important;
}


.yellow {
    background-color: yellow !important;
}


.pool-table {
    border: 1px solid black !important;
}

/* The two below change the background color for the hovered box as well as the entire row */
.pool-table td:hover {
    background-color: rgba(83, 81, 81, 0.712) !important;
    cursor: pointer;
}

.pool-table tbody tr:hover {
    background-color: rgba(190, 192, 189, 0.534);
}

.bg-dark {
    width: 20px;
}

.pad-left {
    padding-top: 3%;
    padding-left: 3%;
}

.pad-right {
    padding-top: 3%;
    padding-right: 3%;
}

.directions {
    padding-top: 20px;
}